* {
  box-sizing: border-box;
}

body {
  padding: 0px 40px;
}

h1,
h2,
h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h1 {
  text-decoration: underline dotted;
}
.colour-theory,
.colour-combination {
  margin: 30px 0px;
}
.colour-mood {
  width: 700px;
  text-align: center;
  color: white;
  border-collapse: collapse;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.colour-mood tr th {
  padding: 9px 0px;
  background-color: #46244c;
  border-left: 1px solid white;
}
.colour-mood tr td {
  border-left: 1px solid white;
  border-bottom: 1px dotted white;
  padding: 8px 0px;
  background-color: #712b75;
}

.colour-combination img {
  width: 400px;
  margin-bottom: 20px;
}

.colour-combination a {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 10px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.colour-combination a:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.colour-combination a:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.colour-combination a:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
